
/* Polka Dot Background Found at Link Below
https://codepen.io/poonam-adlakha/pen/PoRJeKM */



html {
    background-image: url("silent\ hill\ background.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
}


h1, h2{
  background-color: rgb(255, 255, 255, 0.8);
  color: #801616;
  width: 400px;
  margin: auto;
  margin-bottom: 5px;
  border-radius: 30px;
}
"

#myCanvas{
  border: 5px solid #ffffff;
}