
/* Polka Dot Background Found at Link Below
https://codepen.io/poonam-adlakha/pen/PoRJeKM */



html {
    background: radial-gradient(#ffcbcb 10%, transparent 10%),                    radial-gradient(#FFFFFF 10%,transparent 10%),
               radial-gradient(#FFFFFF 10%, transparent 10%) #ea493e;
    background-size: 100px 100px;
    background-position: 0 0, 25px 25px, 50px 50px;
    text-align: center;
}


h1, h2{
  background-color: rgb(255, 255, 255);
  color: #801616;
  width: 400px;
  margin: auto;
  margin-bottom: 5px;
  border-radius: 30px;
}
"

#myCanvas{
  border: 5px solid #ffffff;
}